<div class="container" style="z-index: 0;margin-top: 40px; position: relative;" ng-init="init();restaurant.likeCount=0; restBool=true;itemBool=true;">
    <div class="row well container">
        <h2>Hello Admin</h2>
    <div class="col-lg-4">
        <h3>Restauant Operations</h3>
        <h4>Add</h4>
        <form novalidate>
            <table cellpadding="100">
                <tr>
                    <td>Name</td>
                    <td><input type="text" ng-model="restaurant.name"></td>
                </tr>
    
                <tr>
                    <td>Description</td>
                    <td><input type="text" ng-model="restaurant.description"></td>
                </tr>
    
                <tr>
                    <td>Contact</td>
                    <td><input type="text" ng-model="restaurant.contact"></td>
                </tr>
    
                <tr>
                    <td>Website</td>
                    <td><input type="text" ng-model="restaurant.website"></td>
                </tr>
    
                <tr>
                    <td>City</td>
                    <td><input type="text" ng-model="restaurant.city"></td>
                </tr>
    
                <tr>
                    <td>Address</td>
                    <td><input type="text" ng-model="restaurant.address"></td>
                </tr>
    
                <tr>
                	<td style="width: 100px;"></td>
                    <td><button ng-click="saveRestaurant()" class="btn btn-success" style="margin-top: 10px;width: 150px;">Save Restauant</button></td>
                </tr>
            </table>
            </form>

            <p ng-bind="saveRestaurantMessage"></p>
            <h4>Delete By ID</h4>
            <form novalidate>
                    <table cellpadding="100">
                        <tr>
                            <td>ID: </td>
                            <td><input type="number" ng-model="restaurant1.id"></td>
                        </tr>
                        <tr>
                            <td style="width: 100px;"></td>
                            <td><button ng-click="deleteRestaurant()" class="btn btn-danger" style="margin-top: 10px;width: 150px;">Delete Restauant</button></td>
                        </tr>
                    </table>
            </form>
            <p ng-bind="deleteRestaurantMessage"></p>
    </div>
    <div class="col-lg-4">
            <h3>Item Operations</h3>
            <h4>Add</h4>
            <form novalidate>
                <table cellpadding="100">
                    <tr>
                        <td>Restauant ID</td>
                        <!---
                        <td><input type="text" ng-model="item.restaurantId"></td>
                        -->
                        <td>
                                <select ng-model="r" class="form-control">
                                    <option ng-repeat="x in restID">{{x.id}}</option> 
                                	
                                </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" ng-model="item.name"></td>
                    </tr>
        
                    <tr>
                        <td>Description</td>
                        <td><input type="text" ng-model="item.description"></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><input type="number" ng-model="item.price"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px;"></td>
                        <td><button ng-click="saveItem()" class="btn btn-success" style="margin-top: 10px;width: 150px;">Save Item</button></td>
                    </tr>
                </table>
                <p ng-bind="saveItemMessage"></p>
                <h4>Delete By ID</h4>
                <form novalidate>
                        <table cellpadding="100">
                            <tr>
                                <td>ID: </td>
                                <td><input type="number" ng-model="item1.id"></td>
                            </tr>
                            <tr>
                                <td style="width: 100px;"></td>
                                <td><button ng-click="deleteItem()" class="btn btn-danger" style="margin-top: 10px;width: 150px;">Delete Item</button></td>
                            </tr>
                        </table>
                </form>
                <p ng-bind="deleteItemMessage"></p>
        </div>
        <div class="col-lg-4">
                <h3>User Operations</h3>
                    <h4>Delete By ID</h4>
                    <form novalidate>
                            <table cellpadding="100">
                                <tr>
                                    <td>ID: </td>
                                    <td><input type="number" ng-model="user1.id"></td>
                                </tr>
                                <tr>
                                    <td style="width: 100px;"></td>
                                    <td><button ng-click="deleteUser()" class="btn btn-danger" style="margin-top: 10px;width: 150px;">Delete User</button></td>
                                </tr>
                            </table>
                    </form>
                    <p ng-bind="deleteUserMessage"></p>
            </div>
        </div>
        <div class="row well container">
            <h3>Master Control</h3>
            <div class="col-lg-4">
            <h4>Restauants</h4>
            <button class="btn btn-primary" ng-click="restShow=!restShow; fetchID();">Edit</button>
            </div>
            <div class="col-lg-4">
            <h4>Items</h4>
            <button class="btn btn-primary" ng-click="itemShow=!itemShow; showAllItems();">Edit</button>
            </div>
            <div class="col-lg-4">
            <h4>Users</h4>
            <button class="btn btn-primary" ng-click="userShow=!userShow; showAllUsers();">Edit</button>
            </div>
            <div class="col-lg-12">
            <table cellpadding="100" class="table table-strip table-hover" ng-show="restShow" ng-init="updtStr='Update';" style="width: 1000px;">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Description</th>
                    <th>Contact</th>
                    <th>Website</th>
                </tr>
                <tr ng-repeat="x in restID">
                    <td><input ng-value="x.id" disabled></td>
                    <td><input  ng-disabled="restBool" ng-model="x.name" type="text" style="width: 75px;"></td>
                    <td><input  ng-disabled="restBool" ng-model="x.city" style="width: 75px;"></td>
                    <td><input ng-disabled="restBool" ng-model="x.address" style="width: 75px;"> </td>
                    <td><input  ng-disabled="restBool" ng-model="x.description" style="width: 75px;"></td>
                    <td><input  ng-disabled="restBool" ng-model="x.contact" style="width: 75px;"></td>
                    <td><input  ng-disabled="restBool" ng-model="x.website" style="width: 75px;"></td>
                    <td><button class="btn btn-success" ng-click="restBool=!restBool;">Edit</button></td>
                    <td><button class="btn btn-primary" ng-click="updateRest(x);restBool=!restBool;" ng-show="!restBool">Update</button></td>
                    <td><button class="btn btn-danger" ng-click="deleteRest(x)">Delete</button></td>
                </tr>
            </table>
            
            
                    <table cellpadding="100" class="table table-strip table-hover" ng-show="userShow">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Address</th>
                            <th>Landmark</th>
                            <th>PinCode</th>
                            <th>Type</th>
                        </tr>
                        <tr ng-repeat="newUser in userID">
                            <td><input ng-disabled="userBool" disabled style="width: 75px;"></td>
                            <td><input ng-disabled="userBool" ng-model="newUser.id" style="width: 75px;"></td>
                            <td><input  ng-disabled="userBool" type="password" ng-model="newUser.password" style="width: 75px;"></td>
                            <td><input  ng-disabled="userBool" ng-model="newUser.address" style="width: 75px;"></td>
                            <td><input  ng-disabled="userBool" ng-model="newUser.landmark" style="width: 75px;"></td>
                            <td><input  ng-disabled="userBool" ng-model="newUser.pincode"style="width: 75px;"></td>
                            <td><input ng-disabled="userBool" ng-model="newUser.type" style="width: 75px;"> </td>
                            <td><button class="btn btn-success" ng-click="userBool=!userBool;">Edit</button></td>
                            <td><button class="btn btn-primary" ng-click="updateUser(newUser);fetchID();" ng-show="!userBool">Update</button></td>
                            <td><button class="btn btn-danger" ng-click="deleteUsr(newUser)">Delete</button></td>
                        </tr>
                    </table>
                    <table cellpadding="100" class="table table-strip table-hover" ng-show="itemShow">
                            <tr>
                                <th>ID</th>
                                <th>Restauant Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                            <tr ng-repeat="itm in itemID">
                                <td><input  ng-disabled="itemBool" disabled ng-model="itm.id" style="width: 75px;"><td>
                                <td><input  ng-disabled="itemBool" ng-model="itm.restaurantId" style="width: 75px;"><td>
                                <td><input ng-disabled="itemBool" ng-model="itm.name" style="width: 75px;"><td>
                                <td><input  ng-disabled="itemBool" ng-model="itm.description" style="width: 75px;"><td>
                                <td><input   ng-disabled="itemBool" ng-model="itm.price" style="width: 75px;"><td>
                                <td><button class="btn btn-success" ng-click="itemBool=!itemBool;">Edit</button></td>
                                <td><button class="btn btn-primary" ng-click="updateItem(itm);" ng-show="!itemBool">Update</button></td>
                                <td><button class="btn btn-danger" ng-click="deleteItem(itm);">Delete</button></td>
                            </tr>
                        </table>
                    </div>
        </div>
</div>
            
