<div class="container well" ng-init="init()">
   <h3>{{lgName}}</h3>
   <div>
       <h4>Search By Item ID</h4>
       <form invalidate>
        <div class="input-group" style="width: 400px">
          <input type="text" class="form-control" placeholder="Search" name="search" ng-model="s1">
          <div class="input-group-btn">
            <button class="btn btn-default" ng-click="item1itr()"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
        </form>
   </div>
   <div class="clearfix" style="padding-top: 10px; padding-bottom: 10px;">
        <table class="table table-strip table-hover" style="display: {{visb1}};">
    		
            <tr style="background-color: #8FBC8F">
                <td><b>Resturant ID</b></td>
                <td><b>Name</b></td>
                <td><b>Description</b></td>
                <td><b>Price</b></td>
    
            </tr>
            <tr>
                <td>{{item.restaurantId}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item1.price}}</td>
            </tr>
        </table>
    </div> 
   <div>
        <h4>Search By City</h4>
        <form invalidate>
         <div class="input-group" style="width: 400px">
           <input type="text" class="form-control" placeholder="Search" name="search" ng-model="s2">
           <div class="input-group-btn">
             <button class="btn btn-default" ng-click="item2itr()"><i class="glyphicon glyphicon-search"></i></button>
           </div>
         </div>
         </form>
    </div> 
    <div class="clearfix" style="padding-top: 10px; padding-bottom: 10px;">
        <table class="table table-strip table-hover" style="display: {{visb2}};">
    
                <tr style="background-color: #8FBC8F">
                        <td><b>Resturant ID</b></td>
                        <td><b>Name</b></td>
                        <td><b>Description</b></td>
                        <td><b>Price</b></td>
            
                    </tr>
                    <tr ng-repeat="item in items2">
                        <td>{{item.restaurantId}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.price}}</td>
                    </tr>
        </table>
        </div>
    <div>
            <h4>Search By Name</h4>
            <form invalidate>
             <div class="input-group" style="width: 400px">
               <input type="text" class="form-control" placeholder="Search" name="search" ng-bind="s3">
               <div class="input-group-btn">
                 <button class="btn btn-default" ng-click="item3itr()"><i class="glyphicon glyphicon-search"></i></button>
               </div>
             </div>
             </form>
        </div> 
        <div class="clearfix" style="padding-top: 10px; padding-bottom: 10px;">
        <table class="table table-strip table-hover" style="display: {{visb3}};">
    
                <tr style="background-color: #8FBC8F">
                        <td><b>Resturant ID</b></td>
                        <td><b>Name</b></td>
                        <td><b>Description</b></td>
                        <td><b>Price</b></td>
            
                    </tr>
                    <tr ng-repeat="item in item3">
                        <td>{{item.restaurantId}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.price}}</td>
                    </tr>
        </table>
        </div>
</div>